*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.container{
  display: flex;
  padding: 10px;
  gap: 5px;
  flex-wrap: wrap;

}

.book{
  padding: 10px;
  border: 2px solid black;

}
.book img{
  height:300px;
}

.book h1{
  font-size: 1.5 rem;
}

.book button{
  width: 200px;
  background-color: red;
  color: white;
  font: times;
  padding: 5px;
}